/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '~ngx-toastr/toastr.css';


.color-vanderlande-orange{
    background-color: #EF7B10;
}
.color-vanderlande-dark-orange{
    background-color: #CD5B1C;
}
.color-vanderlande-purple{
    background-color: #532864;
}
.color-vanderlande-dark-blue{
    background-color: #2A4A96;
}
.color-vanderlande-mid-blue{
    background-color: #6786B0;
}
.color-vanderlande-light-blue{
    background-color: #6BACCC;
}
.color-vanderlande-grey{
    background-color: #A5ABB0;
}
.color-vanderlande-dark-grey{
    background-color: #50575C;
}

