
<app-nav></app-nav>

<!-- main app container -->


<div fxLayout="row" fxLayoutAlign="center center" class="configComponent">



    <mat-tab-group dynamicHeight fxFlex="80%">
        
            <mat-tab label="Url Settings">
         
                  <app-url-settings></app-url-settings>
         
            </mat-tab>
            <mat-tab label="Menssage Settings">
          
                  <app-msg-settings></app-msg-settings>
         
            </mat-tab>
            <mat-tab label="Video Settings">
          
                  <app-video-settings></app-video-settings>
       
            </mat-tab>
      
      </mat-tab-group>

</div>  