      
<mat-card>
    <mat-card-content>
        <mat-card-header class="header">
            <mat-card-title>{{ title }}</mat-card-title>
        </mat-card-header>

            <form *ngIf="configLoaded | async; else loading" [formGroup]="settingForm" (ngSubmit)="settingSubmit()">
                <div fxLayout="row">
                    <div fxFlex="100%" fxLayout.xs="column" fxLayoutAlign="center">
                        <mat-form-field fxFlex="100%" >
                            <input type="text" id="urlLogFsc" matInput formControlName="urlLogFsc" name="urlLogFsc" placeholder="URL Log Fsc" class="form-control"/>
                        </mat-form-field>                
                    </div> 
                </div>    
                <div fxLayout="row">
                    <div fxFlex="100%" fxLayout.xs="column" fxLayoutAlign="center">
                        <mat-form-field fxFlex="100%" >
                            <input type="text" id="urlVideo" matInput formControlName="urlVideo" name="urlVideo" placeholder="URL Video" class="form-control"/>
                        </mat-form-field>                        
                    </div>
                </div>

                <mat-card-actions fxLayoutAlign="flex-end">
                    <button mat-button (click)="refresh()"><mat-icon>refresh</mat-icon></button>
                    <button id="btnConfirmSettings" class="btnConfirm" mat-stroked-button>Confirm</button>
                </mat-card-actions>
            </form>
        
        <ng-template #loading>
                Loading config...
        </ng-template>
     </mat-card-content>
</mat-card>