<ol>

  <li>
    <!--<mat-video class="video" src="https://sample-videos.com/video123/mp4/480/big_buck_bunny_480p_30mb.mp4#t=10,20"></mat-video>-->
    <mat-video class="video" src="C:\Vanderlande\Video\01_02_2019\1.mp4"></mat-video>
    
  </li>
</ol>