﻿<mat-toolbar class="color-vanderlande-orange nav">
  <button mat-button routerLink="/home">Search</button>
  <button mat-button routerLink="/config">Config</button>
  <button mat-button (click)="logout()">Log Out</button>
</mat-toolbar>
