.searchComponent {
    margin-top: 15%;
}
.header {
    margin-bottom: 5px;
}
.btnSearch{
    width: 95%;
    height: 50px;
}
.table {
    width: 70%;
    margin-top: 15px;
    margin-left: 15%;
}
.table th{
    text-align: center;
    font-weight: bold;
}
.btnView{
    background-color: #EF7B10;
    color: white;
    width: 900%;
    margin-top: 2%;
}