<!--The content below is only a placeholder and can be replaced.-->



<div fxLayout="row" fxLayoutAlign="center" class="searchComponent">
    <div fxFlex="40%" fxLayoutAlign="center" >
        <mat-card class="search-card">
            <mat-card-header class="header">
              <mat-card-title>{{ title }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="5px" fxLayoutAlign="center">
                  <!-- 
                  <div fxFlex="auto" fxFlex.md="50%" fxFlex.lg="40%" fxFlex.xl="40%">
                          <mat-form-field >
                            <mat-label>Type Search</mat-label>
                            <mat-select [(ngModel)]="selectedTypeSearch">
                              <mat-option id="typeSearch" *ngFor="let typeSearch of typeSearch" [value]="typeSearch.value" >
                                {{ typeSearch.viewValue }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                    -->
                    <div fxFlex="auto" fxFlex.md="60%" fxFlex.lg="80%" fxFlex.xl="80%">
                          <mat-form-field class="searchId">
                            <input id="searchId" matInput placeholder="SearchId" [(ngModel)]="searchId">
                          </mat-form-field>
                    </div>
                    <div fxFlex="auto">     
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker></mat-datepicker>
                            <input id="dateSearch" matInput [matDatepicker]="picker" [(ngModel)]="dateSearch">        
                    </div> 
              </div> 
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="center">
              <button id="btnSearch" class="btnSearch" mat-stroked-button (click)='SearchClick()'>Search</button>
            </mat-card-actions>
          </mat-card>
    </div>
</div>  




<div>
  <div>
    <table mat-table [dataSource]="Parcels" class="mat-elevation-z8 table">
  
      <ng-container matColumnDef="Date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let parcel"><b> {{parcel.clasificationDate}} </b></td>
      </ng-container>
      <ng-container matColumnDef="Pic">
        <th mat-header-cell *matHeaderCellDef> Pic </th>
        <td mat-cell *matCellDef="let parcel"> {{parcel.pic}} </td>
      </ng-container>
      <ng-container matColumnDef="HostPic">
        <th mat-header-cell *matHeaderCellDef> HostPic </th>
        <td mat-cell *matCellDef="let parcel"> {{parcel.hostPic}} </td>
      </ng-container>
      <ng-container matColumnDef="SearchId">
        <th mat-header-cell *matHeaderCellDef> SerachId </th>
        <td mat-cell *matCellDef="let parcel"> {{parcel.searchId}} </td>
      </ng-container>
      <ng-container matColumnDef="Destination">
        <th mat-header-cell *matHeaderCellDef> Destination </th>
        <td mat-cell *matCellDef="let parcel"> {{parcel.destination}} </td>
      </ng-container>
      <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef> Destination </th>
          <td mat-cell *matCellDef="let parcel"> {{parcel.destination}} </td>
        </ng-container>


        <ng-container matColumnDef="Actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
            <mat-cell *matCellDef="let parcel" >
                <button id="btnView" class="btnView" (click)='GoVideo(parcel)' mat-button>Go Video <mat-icon>videocam</mat-icon></button>
            </mat-cell>
          </ng-container>

        
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


    </table>
   

  </div>  

</div>




<div fxLayout="row" fxLayoutAlign="center" class="searchComponent">
  <div fxFlex="40%" fxLayoutAlign="center" >
      <mat-card class="search-card">
          <mat-card-header class="header">
            <mat-card-title>{{ title }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
              <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="5px" fxLayoutAlign="center">
               <!--
                <video width="320" height="240" autoplay="autoplay" controls>
                   <source src='ftp://edssdp:vdl@127.0.0.1/1.mp4' type="video/mp4"> 
                    <source autoplay="autoplay" src="https://sample-videos.com/video123/mp4/480/big_buck_bunny_480p_30mb.mp4#t=100,105" type="video/mp4">
                   
                </video>
               
               -->
                
-

          <mat-video title="My Tutorial Title"  [autoplay]="true" [preload]="true" [fullscreen]="true" [download]="true" color="accent" spinner="spin" poster="image.jpg">
             <!-- <source matVideoSource  src="file:///C://Vanderlande//Video//01_02_2019//1.mp4" type="video/mp4">-->
                <source matVideoSource autoplay="autoplay" src='ftp://edssdp:vdl@127.0.0.1/1.mp4' type="video/mp4">
                 
            </mat-video>
            <mat-video title="My T"  [autoplay]="true" [preload]="true" [fullscreen]="true" [download]="true" color="accent" spinner="spin" poster="image.jpg">
  
                     <source matVideoSource autoplay="autoplay" src='https://sample-videos.com/video123/mp4/480/big_buck_bunny_480p_30mb.mp4#t=60,65' type="video/mp4">
               </mat-video>

            </div> 
          </mat-card-content>
          <mat-card-actions fxLayoutAlign="center">
            
          </mat-card-actions>
        </mat-card>
  </div>
</div>  





