

<div>
    <div>
      <table mat-table [dataSource]="Parcels" class="mat-elevation-z8 table">
    
        <ng-container matColumnDef="Date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let parcel"><b> {{parcel.clasificationDate}} </b></td>
        </ng-container>
        <ng-container matColumnDef="Pic">
          <th mat-header-cell *matHeaderCellDef> Pic </th>
          <td mat-cell *matCellDef="let parcel"> {{parcel.pic}} </td>
        </ng-container>
        <ng-container matColumnDef="HostPic">
          <th mat-header-cell *matHeaderCellDef> HostPic </th>
          <td mat-cell *matCellDef="let parcel"> {{parcel.hostPic}} </td>
        </ng-container>
        <ng-container matColumnDef="SearchId">
          <th mat-header-cell *matHeaderCellDef> SerachId </th>
          <td mat-cell *matCellDef="let parcel"> {{parcel.searchId}} </td>
        </ng-container>
        <ng-container matColumnDef="Destination">
          <th mat-header-cell *matHeaderCellDef> Destination </th>
          <td mat-cell *matCellDef="let parcel"> {{parcel.destination}} </td>
        </ng-container>
        <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef> Destination </th>
            <td mat-cell *matCellDef="let parcel"> {{parcel.destination}} </td>
          </ng-container>
  
  
          <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
              <mat-cell *matCellDef="let parcel" >
                  <button id="btnView" class="btnView" (click)='GoVideo(parcel)' mat-button>Go Video</button>
              </mat-cell>
            </ng-container>
  
          
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
  
      </table>
     
  
    </div>  
  
  </div>
  