      
<mat-card>
  <mat-card-content>
      <mat-card-header class="header">
          <mat-card-title>{{ title }}</mat-card-title>
      </mat-card-header>

          <div>      

                  <table id="table" class="mat-elevation-z8 table">
                    <tr class="tableHead">
                      <th class="up">Id</th>
                      <th>Camera</th>
                      <th>Chute</th>
                      <th>Ubication</th>
                      <th>Action</th>
                    </tr>
                    <tr *ngFor="let setting of settingList; let id = index">
                        <td>
                            <span><b>{{id+1}}</b></span>
                        </td>
                      <td contenteditable="true"  (blur)="updateList(id, 'cameraId', $event);">
                        {{setting.cameraId}}
                      </td>  
                      <td contenteditable="true"  (blur)="updateList(id, 'chute', $event)">
                        {{setting.chute}}
                      </td>
                      <td contenteditable="true" (blur)="updateList(id, 'ubication', $event)">
                        {{setting.ubication}}
                      </td>
                      <td>
                        <span>
                          <button mat-raised-button color="warn" (click)="remove(id)">x</button>
                        </span>
                      </td>

                    </tr>
                    <tr>
                        <th><button mat-raised-button (click)="add()"><mat-icon>expand_more</mat-icon></button></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                  
                    </tr>
                
                  </table>

                  <mat-card-actions fxLayoutAlign="flex-end">
                      <button mat-button (click)="refresh()"><mat-icon>refresh</mat-icon></button>
                      <button mat-raised-button (click)="confirm()">Confirm</button>
                  </mat-card-actions>

                </div>

         
      
      <ng-template #loading>
              Loading config...
      </ng-template>
   </mat-card-content>
</mat-card>