.table{
  width: 90%;
  margin-top: 15px;
  margin-left: 5%;
  font-family: "Roboto","Helvetica Neue",sans-serif;

}
.table td, th {
  border: 1px solid #ddd;
  padding: 1px;
}

.table  tr:nth-child(even){background-color: #f2f2f2;}

.table  tr:hover {background-color: #ddd;}

.table td span{
  display: block;
}

.tableHead {
  height: 40px;
}
