      
<mat-card >
    <mat-card-content>
        <mat-card-header class="header">
            <mat-card-title>{{ subTitle }}</mat-card-title>
        </mat-card-header>

        <form *ngIf="msgConfigLoaded | async; else loading" [formGroup]="msgSettingForm"  (ngSubmit)="msgSettingSubmit()">   
            <div fxLayout="row">
                <div fxFlex="100%" fxLayout.xs="column" fxLayoutAlign="center">
                    <mat-form-field fxFlex="100%" >
                        <input type="text" id="fullMessage" matInput formControlName="fullMessage" placeholder="full mensagge" class="form-control"/>
                    </mat-form-field>
                    
                </div>
            </div>

            <div fxLayout="row">
                <div fxFlex="100%" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="5px" fxLayoutAlign="center">
                    <mat-form-field>
                        <input type="text" id="delimiter" matInput formControlName="delimiter" placeholder="delimiter" class="form-control" />
                    </mat-form-field>
                    <mat-form-field>
                        <input type="text" id="typeMessage" matInput formControlName="typeMessage" placeholder="typeMessage" class="form-control" />
                    </mat-form-field>
                    <mat-form-field>
                        <input type="text" id="pic" matInput formControlName="pic" placeholder="pic" class="form-control" />
                    </mat-form-field>
                    <mat-form-field>
                        <input type="text" id="hostPic" matInput formControlName="hostPic" placeholder="hostPic" class="form-control" />
                    </mat-form-field>
                    <mat-form-field>
                        <input type="text" id="barcode" matInput formControlName="barcode" placeholder="barcode" class="form-control" />
                    </mat-form-field>
                    <mat-form-field>
                        <input type="text" id="parcelDestination" matInput formControlName="parcelDestination" placeholder="parcelDestination" class="form-control" />
                    </mat-form-field>
                </div> 
            </div> 


            <mat-card-actions fxLayoutAlign="flex-end">
                <button mat-button (click)="refresh()"><mat-icon>refresh</mat-icon></button>
                <button mat-raised-button id="btnConfirm" class="btnConfirm" mat-stroked-button>Confirm</button>
            </mat-card-actions>
        </form>

        <ng-template #loading>
            Loading config...
        </ng-template>
    </mat-card-content>
</mat-card>